<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvMN84YM7VHWae9fP3BywSJ8bQ9Y8ugAk</string>
	<key>GCM_SENDER_ID</key>
	<string>409913824071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serdarza.rotalink</string>
	<key>PROJECT_ID</key>
	<string>rotalink-d738c</string>
	<key>STORAGE_BUCKET</key>
	<string>rotalink-d738c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409913824071:ios:44ebc52274fb7277763262</string>
	<key>DATABASE_URL</key>
	<string>https://rotalink-d738c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>